body{
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    position: relative;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45px;
    top: 80px;
    text-shadow: 2px -1px 2px red;
}
div#fireCanvas{
    margin: 100px;
}
table {
    border-collapse: collapse;
    border: 1px solid #000;
}
td {
    width: 32px;
    height: 32px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 12px;
    position: relative;
}
.pixel-index {
    font-size: 10px;
    display: inline-block; 
    position: absolute;
    top: 1px;
    right: 1px;
    color: #999;
}
td.pixel{
    width: 4px;
    height: 4px;
    border: 0px;
}
div.btn{
    position: relative;
    display: inline-block;
    width: 200px;
    bottom: 90px;

}
div.btn > button{
    position: relative;
    margin: 4px 1px;
    border-radius: 4px;
}
div.btn > button:hover{
    background-color: #b00;
}
